*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #EDF9FB;  
    overflow-x: hidden;  
}
.div{
    position: absolute;
    width: 84px;
    height: 1000px;
    left: 60px;
    top: 20px;
    background: #ffffffe8;
    box-shadow: 5px 6px 19px rgba(253, 253, 255, 0.788);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 22px;
}
.logo{
    transform: translateX(17px) translateY(10px);
    width: 50px;
    height: 50px;
}
.home{
    width: 20px;
    height: 20px;
    transform: translateX(-20px) translateY(100px);
}
.message{
    width: 20px;
    height: 20px;
    transform: translateX(35px) translateY(140px);
}
.work{
    width: 20px;
    height: 20px;
    transform: translateX(10px) translateY(200px);
}
.heart{
    width: 20px;
    height: 20px;
    transform: translateY(260px) translateX(-15px);
}
.clock{
    width: 20px;
    height: 20px;
    transform: translateX(35px) translateY(300px);
}
.set{
    width: 20px;
    height: 20px;
    transform: translateX(10px) translateY(880px);
}
#inp_s{
    font-family: 'Poppins', sans-serif;
    transform: translateX(220px) translateY(30px);
    border: none;
    outline: none;
    padding-left: 45px;
    width: 288px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
}
.ser{
    width: 20px;
    height: 20px;
    transform: translateY(34px) translateX(-57px);
}
.mode{
    height: 52px;
    width: 60px;
    border-radius: 20px;
    background-color: #FFFFFF;
    transform: translateX(1060px) translateY(-25px);
}
#imgIcon{
    transform: translateX(1250px) translateY(-80px);
    width: 50px;
    height: 50px;
}
#p_one{
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5rem;
    transform: translateX(1165px) translateY(-130px);
}
.mod{
    transform: translateX(15px) translateY(10px);
    width: 30px;
    height: 30px;
}
.header{
    transform: translateX(70px);
    position: absolute;
    width: 828px;
    height: 260px;
    left: 144px;
    top: 128px;
    background: linear-gradient(95.63deg, #D2ECFF 0%, #D6ECFF 9.37%, #F5E8FF 100%);
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 24px;
}
#flw{
    position: absolute;
    transform: translateX(500px) translateY(-40px);
}
.hgh1{
    font-family: 'Poppins', sans-serif;
    transform: translate(50px , 50px);
}
#btn_dc{
    transform: translate(50px , 100px);
    color: #ffff;
    border: none;
    outline: none;
    position: absolute;
    width: 164px;
    height: 44px;
    background: #3162FF;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
#btn_cd{
    cursor: pointer;
    transform: translate(230px , 100px);
    color: #3162FF;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    width: 164px;
    height: 44px;
    border-radius: 16px;
    border: 2px solid #3162FF;
    font-family: 'Poppins', sans-serif;
}
.header_box{
    position: absolute;
    width: 290px;
    height: 316px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    transform: translateX(1053px) translateY(-80px);
}
.spans{
    width: 250px;
    transform: translateY(-15px) translateX(35px);
}
.div1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 135px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translateY(220px) translateX(220px);
}
.div2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 93px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 1;
    flex-grow: 0;
    transform: translateY(175px) translateX(370px);
}
.div3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 116px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translateY(130px) translateX(480px);
}
.div4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 127px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translateY(85px) translateX(610px);
}
.div5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 113px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform:translateY(40px) translateX(750px);
}
.div6{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 12px;
    width: 164px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: translateY(-5px) translateX(875px);
}
.divBg{
    position: absolute;
    width: 236px;
    height: 166px;
    border-radius: 20px;
    transform: translateX(12px) translateY(-70px);
}
.divText{   
    position: absolute;
    width: 260px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    z-index: -10;
    transform: translateY(100px) translateX(220px);
}
.divText2{
    position: absolute;
    width: 260px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    transform: translateY(100px) translateX(500px);
}
.divBg2{
    transform: translateX(12px) translateY(-70px);
}
.divText3{
    position: absolute;
    width: 260px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    z-index: -10;
    transform: translateY(100px) translateX(780px);
}
.divbg3{
    transform: translateX(12px) translateY(-70px);
}
.trendingg{
    transform: translateY(100px);
}
.follow1{
    position: absolute;
    width: 402px;
    height: 98px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    transform: translateX(215px) translateY(330px) !important;
}
#btnFl{
    color: #ffff;
    border: none;
    outline: none;
    position: absolute;
    width: 126px;
    height: 44px;
    background: #3162FF;
    border-radius: 16px;
    transform: translateX(250px) translateY(-75px);
}
.follow2{
    position: absolute;
    width: 402px;
    height: 98px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    transform: translateX(640px) translateY(330px) !important;
}
.header_box_two{
    position: absolute;
    width: 290px;
    height: 510px;
    background: #FFFFFF;
    box-shadow: 5px 6px 19px rgba(62, 72, 118, 0.04);
    border-radius: 20px;
    transform: translateX(1053px) translateY(-80px);
}